 
    #product1 .pro{
        margin-right: 50px;
        width: 10%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        height:180px;
        background-color: white;
        border-radius: 10px;
        white-space: normal;
        float:right;
        border-bottom: 10px;  
       
        
       
        
    }

    
    #product1 .pro:hover{
        box-shadow: 20px 20px 30px rgb(0, 0, 0.06);
    
    }
    #product1 .pro img{
    width: 100%;
    border-radius: 20px;
    width: 75px !important;
    
    
    }
    
    .desc {
        display: inline-block;
        margin: 0 25px;
        height: 125px;
        border-bottom: 1px solid black;
        padding-bottom: 5px;
        align-self: auto;
    
    }

  
    /*----------------------------------*/ 



 

    table {
        width: 50px;
        border-collapse: collapse;
        margin-left: 90%;
    }
    table, th, td {
        border: 1px solid black;
        align-content: center;
    }
    th, td {
        padding: 10px;
    }


    table img {
        width: 75px;

    }

