/* Styling af div */
.måneder {
  position: relative;
  top: 50%;
  left: 30%;
  width: 40%;
  height: 50%;
  
}


.kalender {
  height: 300px;
  width: 100%;
  flex: content;
  position: static;
}

.textTilKnapper{
  position: centered;
  color: rgb(35, 35, 35); 
  font-size: small;

}



/* Styling af knapper */
button {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: Trebuchet MS, sans-serif;
  width: 16%;
  /*
   transition-duration: 0.4s;
   background-color: rgb(230, 220, 220);
   display: flex;
   flex-direction: column;
*/
}

#overskift2 {
  font-size: large;



}

button:hover {
  background-color: rgb(111, 152, 98);
  /* moseGreen */

}



.fruit-card-btn {

  background-color: #e8e6e0;
  border: 4 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #e8e6e0;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  height: 126px;
  width: 12%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5%;
  margin-left: 30px;


  transition: all .1s cubic-bezier(.4, 0, .2, 1);

  box-shadow: inset 0 0 0 0  rgb(111, 152, 98);


  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

  color: rgb(150, 150, 150);
  touch-action: manipulation;

}

.fruit-card-btn>img {
  height: 100%;
  width: 100%;
  display: block;

}

.fruit-card-btn:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #95a97b;
}
/* til cirklene ved overskrift ved barchart
.dot1 {
  margin-left: 35%;
  height: 25px;
  width: 25px;
  background-color: #a6b38a;
  
  border-radius: 50%;
  display: inline-block;
}

.dot2 {
  margin-left: 23%;
  height: 25px;
  width: 25px;
  background-color: #5a8f57;
  border-radius: 50%;
  display: inline-block;
}

*/ 


#overskrift3{
  color: #a6b38a;
}

#overskrift4{
  color:#5a8f57;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: white;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 10%;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}