* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

.fruit-card-btn_Barchart {
  background-color: #e8e6e0;
  border: 4 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #e8e6e0;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;

  height: 6vw;
  width: 14.5%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5%;
  margin-left: 30px;

  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: inset 0 0 0 0  rgb(111, 152, 98);
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

  color: rgb(150, 150, 150);
  touch-action: manipulation;

}

.fruit-card-btn_Barchart:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #95a97b;
}


.fruitImagesButtons{
  width: 3vw;
  height: 3vw;
}
.textTilKnapper{
  text-align: center;
  font-size: 11px;
  color: #000;
}


.titel {

  text-align: center;
  font-size: 25px;
  font-weight: 100;
  font-family: Trebuchet MS, sans-serif;
  color: rgb(35, 35, 35);
  height: auto;
  background: #e8e6e0;

}



.split.left {
  color: rgb(35, 35, 35);
  font-size: 1.2vw;
}



span {
  color: rgb(111, 152, 98);
}


.folden {
  font-size: large;
  font-weight: normal;
  text-align: center;
  font-family: Trebuchet MS, sans-serif;
  ;
}

.split.left h1 {
  text-align: center;

}

#remove-btn{
position: absolute;
  margin-left: 7%;
  width: 15%;
  height: 3%;
  font-size: small;
  cursor:pointer;

}










/*------------------- Der bliver begyndt på første sektion eller første data viz---------------------------*/
.splits {
  height: 800px;
  position: static;
  z-index: +1;
  /*top: 0;*/
  overflow-x: hidden;
  padding-top: 20px;
  font-family: Trebuchet MS, sans-serif;
}

/* Split the screen in half */
.split {
  height: 800px;
  position: absolute;
  z-index: +1;
  /*top: 0;*/
  overflow-x: hidden;
  
}

/* Control the left side */
.left {
  left: 0;
  width: 60vw;
  padding-top: 5px;
}


/* Control the right side */
.right {
  right: 0;
  width: 40vw;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*text-align: center;*/
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}


.fruit-card-btn {

  background-color: #e8e6e0;
  border: 4 solid #e8e6e0;
  border-radius: 1.2rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  height: 25%;
  width: 10vw;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 30px;
  margin-left: 30px;


  transition: all .1s cubic-bezier(.4, 0, .2, 1);

  box-shadow: inset 0 0 0 0 rgb(111, 152, 98);


  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

  color: #e8e6e0;
  touch-action: manipulation;

}


.fruit-img {
  max-width: 30px;
  color: #000;



}

.fruit-card-btn:hover {
 /*
  box-shadow: inset 200px 0 0 0 rgb(111, 152, 98);
*/


}





#svgBarchart {
  position: absolute;
  width: 100%;
  height: 650px;
  

}

.barchartLines:hover{

  color: #49922d;
  filter: invert(0.5)

}


body {
  background: #f0f0f0;
  width: 100vw;
}

footer {
  position: absolute;
  bottom: -150%;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #f0f0f0;;
}



#index2Content {
  height: 15%;
  position: static;
  z-index: +1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}



.btn-box a {
  width: 175px;
  margin: 5px;
  text-align: center;
}

.btn-1 {
  display: inline-block;
  padding: 10px 0;
  background-color: #49922d;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #49922d;
  border-radius: 3px;
  text-transform: uppercase;
  height: 50%;
}

.btn-1:hover {
  background-color: transparent;
  color: #49922d;
}

.btn-2 {
  display: inline-block;
  padding: 10px 0;
  background-color: #363636;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #363636;
  border-radius: 3px;
  text-transform: uppercase;
  
}

.btn-2:hover {
  background-color: transparent;
  color: #363636;
}


a,
a:hover,
a:focus {
  text-decoration: none;
}

#tooltip {
  color: #000;
}

#dot1 {
  height: 15px;
  width: 15px;
  background-color: #a6b38a;
  display: inline-block;
  border-radius: 50%;
}

#dot2 {
  height: 15px;
  width: 15px;
  background-color: #5a8f57;
  border-radius: 50%;
  display: inline-block;
}









.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e8e6e0;
 
  text-align: center;
}
rect:hover {
  fill: orange;
}

#tooltip {
  position: absolute;
  width: 100px;
  height: auto;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}


