* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}



[data-tooltip] {
  margin-left: 85%;

  display: inline-block;
  position: relative;
  cursor: help;
  padding: 4px;
}

/* Tooltip styling */
[data-tooltip]:before {
  content: attr(data-tooltip);
  display: none;
  position: absolute;
  background: rgb(192, 31, 31);
  color: #fff;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 1.4;
  min-width: 100px;
  text-align: center;
  border-radius: 4px;
}

/* Dynamic horizontal centering */
[data-tooltip-position="top"]:before {
  left: 50%;
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}


[data-tooltip-position="top"]:before {
  bottom: 100%;
  margin-bottom: 6px;
}


/* Tooltip arrow styling/placement */
[data-tooltip]:after {
  content: '';
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

/* Dynamic horizontal centering for the tooltip */
[data-tooltip-position="top"]:after,


[data-tooltip-position="top"]:after {
  bottom: 100%;
  border-width: 6px 6px 0;
  border-top-color: #000;
}

/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  display: block;
  z-index: 50;
}







.titel {

  text-align: center;
  font-size: 25px;
  font-weight: 100;
  font-family: Trebuchet MS, sans-serif;
  color: rgb(35, 35, 35);
  height: auto;
  background: #e8e6e0;

}



.split.left {
  color: rgb(35, 35, 35);
  font-size: 1.2vw;
}



span {
  color: rgb(111, 152, 98);
}


.folden {
  font-size: large;
  font-weight: normal;
  text-align: center;
  font-family: Trebuchet MS, sans-serif;
  ;
}

.split.left h1 {
  text-align: center;

}

/*
.header {
  width: 100%;
  min-height: 150px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align:justify;
  margin: auto;
  padding: 0;
    
}



.titel p{
  font-size: 9px;
  text-align: center;



}

*/

/*------------------- Der bliver begyndt på første sektion eller første data viz---------------------------*/
.splits {
  height: 1000px;
  position: static;
  z-index: +1;
  /*top: 0;*/
  overflow-x: hidden;
  padding-top: 20px;
  font-family: Trebuchet MS, sans-serif;
}

/* Split the screen in half */
.split {
  height: 1000px;
  position: absolute;
  z-index: +1;
  /*top: 0;*/
  overflow-x: hidden;
  
}

/* Control the left side */
.left {
  left: 0;
  width: 60%;
  padding-top: 5px;
}


/* Control the right side */
.right {
  right: 0;
  width: 40%;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*text-align: center;*/
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

/*----------------------------------*/





div.fruitcontainer {
  display: flex;
  flex-direction: row;
  color: #000;
  width: 500px;
  height: 750px;
  flex-wrap: wrap;
  flex-shrink: 0;
  margin-right: 0%;
  margin-left: auto;
  border: right 1px;



}



.fruit-card-btn {

  background-color: #e8e6e0;
  border: 4 solid #e8e6e0;
  border-radius: 1.2rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  height: 25%;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 30px;
  margin-left: 30px;


  transition: all .1s cubic-bezier(.4, 0, .2, 1);

  box-shadow: inset 0 0 0 0 rgb(111, 152, 98);


  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

  color: #e8e6e0;
  touch-action: manipulation;

}


.fruit-img {
  max-width: 30px;
  color: #000;



}

.fruit-card-btn:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 rgb(111, 152, 98);
  ;



}

#dataLinks {
  margin-left: 6%;
  background-color: blue;
  width: 0.9%;
  border-radius: 1.2rem;
}



#svgBarchart {
  position: absolute;
  width: 100%;
  height: 650px;
  

}


.img-fill img {
  min-height: 100%;
  min-width: 100%;
  position: relative;
  display: inline-block;
  max-width: none;
  color: #000;
}

.img-fill img {
  min-height: 100%;
  min-width: 100%;
  position: relative;
  display: inline-block;
  max-width: none;
}


body {
  background: #f0f0f0;
}


.content {
  margin-top: 9%;
  margin-left: 9%;
  color: #fff;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18%;
}

footer {
  position: absolute;
  bottom: -150%;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}



.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
  line-height: 3rem;
  margin-left: 75%;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  color: #00A85F;
}

#index2Content {
  height: 15%;
  position: static;
  z-index: +1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}



.btn-box a {
  width: 175px;
  margin: 5px;
  text-align: center;
}

.btn-1 {
  display: inline-block;
  padding: 10px 0;
  background-color: #49922d;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #49922d;
  border-radius: 3px;
  text-transform: uppercase;
}

.btn-1:hover {
  background-color: transparent;
  color: #49922d;
}

.btn-2 {
  display: inline-block;
  padding: 10px 0;
  background-color: #363636;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #363636;
  border-radius: 3px;
  text-transform: uppercase;
}

.btn-2:hover {
  background-color: transparent;
  color: #363636;
}


a,
a:hover,
a:focus {
  text-decoration: none;
}

#tooltip {
  color: #000;
}

#dot1 {
  height: 15px;
  width: 15px;
  background-color: #a6b38a;
  display: inline-block;
  border-radius: 50%;
}

#dot2 {
  height: 15px;
  width: 15px;
  background-color: #5a8f57;
  border-radius: 50%;
  display: inline-block;
}









.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}


.grid line {
  stroke: rgb(168, 16, 16);
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}